*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  background: #f7f8fc;
}

#root {
  min-height: 100vh;
}
